
.nav-link{
  font-family:'Oswald', sans-serif; 
    font-size: 25px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
   position: static;
}

ul.navbar-nav{
    margin-left: 80%;
    width: 100%;
}

.d-block.w-100 {
    opacity: 0.3;
    position: fixed;
    margin-top: 0cm;
}

.h4.mb-4{
    font-size: 80px;
    font-style: bold;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.font-weight-normal{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    word-spacing: normal;


}


/* Portfolio */
.portfolio-grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  background: rgb( 47, 150,150);
  text-align: center;
  cursor: pointer;
}

.portfolio-grid figure img {
  align-items: center;
    position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  opacity: 0.8;
}

.portfolio-grid figure figcaption {
  padding: 2em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family:'Oswald', sans-serif; 
  
}

.portfolio-grid figure figcaption:after, .portfolio-grid figure figcaption:before {
  pointer-events: none;
}

.portfolio-grid figure.effect-text-in {
  border-radius: 0.25rem;
}

.portfolio-grid figure.effect-text-in h4,
.portfolio-grid figure.effect-text-in img {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.portfolio-grid figure.effect-text-in img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.portfolio-grid figure.effect-text-in h4,
.portfolio-grid figure.effect-text-in p {
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 10px;
  margin-bottom: 0;
  width: 100%;
}
/*controls portafolio cards */

.portfolio-grid figure.effect-text-in p {
  text-transform: none;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}

.portfolio-grid figure.effect-text-in:hover img {
  -webkit-transform: translate3d(0, -80px, 0);
  transform: translate3d(0, -80px, 0);
}

.portfolio-grid figure.effect-text-in:hover h4 {
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
}

.portfolio-grid figure.effect-text-in:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*bontons on the contact page */
.form-group{font-family:'Oswald', sans-serif; 
  font-size: 25px;}

.btn.btn-dark{
    font-family:'Oswald', sans-serif; 
    font-size: 25px;
}

.btn.btn-secondary.btn-send{
    
    color: rgb( 47, 150,150);
    padding-right: 25px;
    font-family:'Oswald', sans-serif; 
    font-size: 25px;

}

.text-muted{
  font-family:'Oswald', sans-serif; 
  font-size: 25px;
}
#contact-form{
    padding: 25px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb( 47, 150,150);
    color: grey darkgray;
    text-align: center;
    padding: 5px;
    font-family:'Oswald', serif;
 }

 